nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: groove;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 20px;
}

.area {
    display: none;
}

.botao1 {
    margin-left: 259px;
}

.calendario {
    margin-left: 259px;
    display: none;
}

.secao {
    margin-left: 259px;
    margin-right: 259px;
    margin-top: 10px;
}

.tabela {
    width: 100%;
}

.tabela tr th {
    text-align: left;
}

.tabela tr td {
    border-bottom: 1px solid #000000;
}

.tabela2 {
    display: grid;
    grid-gap: 10px;
    width: 20%;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    position: absolute;
}

.secao2 {
    margin-top: 10px;
}